.syntax--comment, .syntax--comment .syntax--punctuation {
  color: #919191;

  &.syntax--block.syntax--preprocessor {
    color: #ADADAD;
  }

  &.syntax--documentation, &.syntax--documentation.syntax--block {
    color: #BC670F;
  }
}

.syntax--invalid {
  &.syntax--deprecated {
    color: #fff;
    background-color: #900;
  }

  &.syntax--illegal {
    color: #F9F2CE;
    background-color: #F93232;
  }
}

.syntax--keyword {
  &.syntax--operator {
    color: #352de3;
  }
}

.syntax--keyword, .syntax--storage {
  color: #352de3;
}

.syntax--storage.syntax--type, .syntax--support.syntax--type {
  color: #B4640B;
}

.syntax--constant.syntax--language, .syntax--variable.syntax--language {
  color: #626FC9;
}

.syntax--variable, .syntax--support.syntax--variable {
  color: #111;
}

.syntax--variable .syntax--punctuation {
  color: #111;
}

.syntax--entity.syntax--name.syntax--function, .syntax--support.syntax--function, .syntax--entity {
  color: #284181;
}

.syntax--entity.syntax--name.syntax--type, .syntax--entity.syntax--other.syntax--inherited-class, .syntax--support.syntax--class {
  color: #bb28c7;
}

.syntax--entity.syntax--name.syntax--exception {
  color: #F93232;
}

.syntax--constant {
  color: #111;
}

.syntax--constant.syntax--numeric {
  color: #dd3c2f;
}

.syntax--punctuation {
  color: #111;
}

.syntax--constant.syntax--character, .syntax--string {
  color: #00A33F;
}

.syntax--string .syntax--punctuation {
  color: #00A33F;
}

.syntax--constant.syntax--character.syntax--escape {
  font-weight: bold;
  background-color: rgba(251, 233, 173, 0.27);
}

.syntax--string.syntax--regexp {
  color: #699D36;
}

.syntax--constant.syntax--numeric.syntax--line-number.syntax--bgr {
  color: #111;
}

.syntax--constant.syntax--other.syntax--symbol {
  font-weight: bold;
  background-color: #E8FFD5;
}

.syntax--string.syntax--unquoted.syntax--js {
  color: #444;
}

.syntax--punctuation.syntax--quasi.syntax--element {
  color: #444;
}

.syntax--string .syntax--source, .syntax--text .syntax--source {
  color: #434343;
}

.syntax--meta.syntax--tag.syntax--sgml.syntax--doctype {
  color: #7F7F7F;
}

.syntax--entity.syntax--name.syntax--tag {
  color: #0072c8;
}

.syntax--meta.syntax--tag .syntax--string .syntax--punctuation {
  color: #00A33F;
}

.syntax--punctuation.syntax--definition.syntax--tag {
  color: #4F9FCF;
}

.syntax--constant.syntax--character.syntax--entity {
  color: #111;
}

.syntax--entity.syntax--other.syntax--attribute-name {
  color: #0072c8;
}

.syntax--meta.syntax--selector, .syntax--meta.syntax--selector .syntax--entity, .syntax--meta.syntax--selector .syntax--entity .syntax--punctuation, .syntax--entity.syntax--name.syntax--tag.syntax--css {
  color: #3A77BF;
}

.syntax--meta.syntax--property-name, .syntax--support.syntax--type.syntax--property-name {
  color: #D4430D;
}

.syntax--meta.syntax--property-value .syntax--constant.syntax--numeric, .syntax--meta.syntax--property-value .syntax--constant, .syntax--meta.syntax--property-value .syntax--keyword {
  color: #43A202;
}

.syntax--markup.syntax--changed {
  color: #111;
  background-color: #ffd;
}

.syntax--markup.syntax--deleted {
  color: #111;
  background-color: #fdd;
}

.syntax--markup.syntax--italic {
  font-style: italic;
}

.syntax--markup.syntax--error {
  color: #F9F2CE;
  background-color: #F93232;
}

.syntax--markup.syntax--inserted {
  color: #111;
  background-color: #DDFFDD;
}

.syntax--markup.syntax--output, .syntax--markup.syntax--raw {
  color: #7F7F7F;
}

.syntax--markup.syntax--prompt {
  color: #555555;
}

.syntax--markup.syntax--heading {
  font-weight: bold;
}

.syntax--markup.syntax--bold {
  font-weight: bold;
}

.syntax--markup.syntax--traceback {
  color: #F93232;
}

.syntax--markup.syntax--underline {
  text-decoration: underline;
}

.syntax--meta.syntax--diff.syntax--range, .syntax--meta.syntax--diff.syntax--index, .syntax--meta.syntax--separator {
  color: #434343;
  background-color: #EAF2F5;
}

.syntax--meta.syntax--diff.syntax--header.syntax--from-file {
  color: #434343;
  background-color: #fdd;
}

.syntax--meta.syntax--diff.syntax--header.syntax--to-file {
  color: #434343;
  background-color: #DDFFDD;
}

.syntax--bracket.syntax--default {
  color: #6E6B1E;
  background-color: rgba(243, 237, 66, 0.5);
}

.syntax--bracket.syntax--tag {
  background-color: #71aedb;
}

.syntax--sublimelinter.syntax--gutter-mark {
  color: #fff;
}

.syntax--sublimelinter.syntax--mark.syntax--error {
  color: #DA2000;
}

.syntax--sublimelinter.syntax--mark.syntax--warning {
  color: #EDBA00;
}
